<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="stylesheets/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="images/logo.svg" alt="Logo" />
        <button type="button" class="hamburguer-menu">
            <img src="images/hamburguer.svg" alt="Hamburguer Menu" />
        </button>
        <nav class="navbar">
            <a href="#">
                Home                                
            </a>
            <a href="#">
                Pokédex                                
            </a>
            <a href="#">
                Legendaries                                
            </a>
            <a href="#">
                Documentation                                
            </a>            
        </nav>
    </header>    
    <main>
        <img class="pikachu" src="images/pikachu.svg" alt="pikachu" />
        <div>
            <h1><strong>Find</strong> all your favorite <strong>Pokemon</strong></h1>
            <p>You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
            <a class="link-pokemons" href="#">See pokemons</a>
        </div>
        <a href="#" class="botao-flutuante">
            <img src="images/pokebola.svg" alt="pokebola" />
        </a>
    </main>
</body>
</html>