<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legendaries</title>
    <link href="assets/styles/index.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <img src="assets/images/logo.svg" alt="Logo" />
        <button type="button" class="hamburguer-menu">
            <img src="assets/images/hamburguer.svg" alt="Hamburguer Menu" />
        </button>
        <nav class="navbar nav-legendaries">
            <a href="index.html">
                Home
            </a>
            <a href="#">
                Pokédex
            </a>
            <a href="#">
                Legendaries
            </a>
            <a href="#">
                Documentation
            </a>
        </nav>
    </header>
    <main class="main-legendaries">
        <h1>Legendaries</h1>
        <div class="legendarie-details">
            <img src="assets/images/mew.svg" alt="Mew Picture">
            <div>
                <h2>MewTwo</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                <div class="legendarie-stats">
                    <div>
                        <p>Health Points</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>Attack</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>Special Attack</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>Defense</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>Special Defense</p>
                        <p>1000,000</p>
                        <div class="progress-bar">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="legendaries-carousel">
            <img src="assets/images/left-arrow.svg" alt="Left Arrow">
            <div class="carousel-legendarie-box first">
                <img src="assets/images/mew.svg" alt="Mew Picture">
                <div>
                    <p>Mew</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <div class="carousel-legendarie-box">
                <img src="assets/images/moltres.svg" alt="Moltres Picture">
                <div>
                    <p>Moltres</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <div class="carousel-legendarie-box">
                <img src="assets/images/articuno.svg" alt="Articuno Picture">
                <div>
                    <p>Articuno</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <div class="carousel-legendarie-box">
                <img src="assets/images/zapdos.svg" alt="Zapdos Picture">
                <div>
                    <p>Zapdos</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <div class="carousel-legendarie-box">
                <img src="assets/images/diance.svg" alt="Diance Picture">
                <div>
                    <p>Diance</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <div class="carousel-legendarie-box">
                <img src="assets/images/xerneas.svg" alt="Xerneas Picture">
                <div>
                    <p>Xerneas</p>
                    <img src="assets/images/pokeball.svg" alt="Pokeball">
                </div>
            </div>
            <img src="assets/images/right-arrow.svg" alt="Left Arrow">
        </div>
    </main>
</body>

</html>