* { 
    box-sizing: border-box;    
    border: 0;
    outline: 0;   
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F5DB13;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
    z-index: 1;
}

header > img {
    width: 64px;
}

header > button {
    background: none;
    cursor: pointer;
}

.navbar {
    display: none;
    font-size: 50px;
}

.navbar > a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;    
}

.pikachu {
    max-width: 100%;    
}

.link-pokemons {
    width: 300px;
    height: 50px;
    border-radius: 11px;
    background: #73D677;
    box-shadow: 0px 7px 0px #5eaf62; 
    margin-top: 20px;
    font-size: 23px;   
    font-weight: normal;
    display: flex;    
    align-items: center;    
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background 0.5s, color 0.5s;    
}

.link-pokemons:hover {
    color: #fff;
    background: #5eaf62;
}

.botao-flutuante {
    position: fixed;
    width: 64px;
    height: 64px; 
    right: 10px;   
    bottom: 10px;
    transition: width 1.0s, height 0.5s;
    animation: inicio-pokebola 2s 1;    
}

.botao-flutuante > img {
    width: 100%;
}

.botao-flutuante:hover {
    width: 124px;
    height: 124px;
}

@keyframes inicio-pokebola {
    0% {
        transform: translateY(-300px);        
        opacity: 0%;        
    }

    50% {
        transform: translateY(0);
        opacity: 100%;
    }

    80% {
        transform: translateY(-32px);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background: linear-gradient(#F5DB13, #F2B807);
}

main, main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    flex: 1;
}

main > div > h1 {
    font-size: 42px;      
    font-weight: normal;
    padding: 15px 40px;
}

main > div > p {
    font-size: 24px;      
    font-weight: normal;
    padding: 0 40px;
}

@media(min-width: 481px) {
    header {
        padding: 20px 10px;
    }

    header > img {
        width: 128px;
    }    
}

@media(min-width: 650px) {
    .navbar {
        display: flex;
    }

    .hamburguer-menu {
        display: none;
    }
}

@media(min-width: 769px) {
    main {
        flex-direction: row-reverse;        
    }        

    main > img, main > div {
        flex-grow: 1;
    }

    .pikachu {
        max-width: 55%;    
    }

    main > div {   
        justify-content: space-between;             
    }

    main > div > p {
        margin: 64px 0;
    }
}