* { 
    box-sizing: border-box;    
    border: 0;
    outline: 0;   
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F5DB13;
}

header > img {
    width: 64px;
}

header > button {
    background: none;
    cursor: pointer;
}

.navbar {
    display: none;
    font-size: 50px;
}

.navbar > a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;    
}

@media(min-width: 481px) {
    header {
        padding: 20px 10px;
    }

    header > img {
        width: 128px;
    }    
}

@media(min-width: 650px) {
    .navbar {
        display: flex;
    }

    .hamburguer-menu {
        display: none;
    }
}